.panel.panel-default
  .panel-body
    - if result.safe_data.entities

      .panel-media
        - type = 'default'

        - result.safe_data.entities.each do |media|
          - media[1].each do |url|
            - if url['media_url']
              - type = 'image'
              .panel-image
                = image_tag url['media_url'], class: "img-responsive"


            - if url['expanded_url'] && url['expanded_url'].include?("youtu")
              - type = 'embed'
              .panel-embed
                .embed-responsive.embed-responsive-4by3
                  %iframe.embed-responsive-item{ src: "https://www.youtube.com/embed/#{url['expanded_url'].split("/").last }", frameborder: "0", width: "100%", height: "400px" }


        .panel-media-overlay.text-center
          = link_to vote_up_path(result.id, type: "tweet"), :remote => true, class: "btn vote vote-#{type}", data: { id: result.id  } do
            %i.fa.fa-heart

    %h4
      = auto_link(result.safe_data.text).html_safe

    %p.panel-meta.hashtags.clearfix
      %media.media-tag
        = image_tag result.safe_data.user["profile_image_url"], :title => result.safe_data.user["name"], height: '30', width: '30'
      - result.tags.each do |tag|
        - next if tag.name == "makerhood"
        = render partial: 'tags/row', locals: {tag: tag}
  .clearfix
